@media screen and (width >= 768px) {
    .app-application{
        width: 90vw;
    }
}

.app-container {
    width: 100%;
    height: calc(98vh - 70px);
    margin-top: 70px;
}

.app-box {
    display: flex;
    flex-direction: column;
    height: 87vh;
    margin-top: 10px;
    /* border: 1px solid black; */
    margin: 80px 3.90625vw 0;
    border-radius: 10px;
    background-color: aliceblue;

}

.app-application {
    display: flex;
    align-items: center;
    justify-content: left;
    border-bottom: 1px solid rgba(53, 168, 172, 0.788);
    margin: 10px;
    height: 10vh;
}

.app-scheduele-select{
    font-size: 3rem;
    margin-top: 15px;
    margin-left: 21px;
    border: 1px solid black;
}

/* 스크롤 디자인 삽입 시작 */
.app-form::-webkit-scrollbar{
    width: 12px;
  }
  
  .app-form::-webkit-scrollbar-thumb{
    background: #2da2c5;
    border-radius: 6px;
  }
  .app-form::-webkit-scrollbar-track{
    border-radius: 6px;
  }
  /* 스크롤 디자인 삽입 끝 */


.my-app-text-a {
    width: 170px;
    font-size: 2rem;
    color: #144272;
}

.my-app-text-b {
    width: 130px;
    font-size: 2rem;
    color: #144272;
}

.app-review{
    margin-top: 30px;
    margin-left: 240px;

}