@media screen and (width >=768px) {
    .app-application {
        width: 90vw;
    }
}

.app-container {
    width: 100%;
    height: calc(98vh - 70px);
    margin-top: 70px;
}

.app-box {
    display: flex;
    flex-direction: column;
    height: 87vh;
    margin-top: 10px;
    /* border: 1px solid black; */
    margin: 80px 3.90625vw 0;
    border-radius: 10px;
    background-color: aliceblue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.app-application {
    display: flex;
    align-items: center;
    justify-content: left;
    border-bottom: 1px solid rgba(53, 168, 172, 0.788);
    margin: 10px;
    height: 10vh;
}

.app-scheduele-select {
    font-size: 3rem;
    margin-top: 15px;
    margin-left: 21px;
    border: 1px solid black;
}

/* 스크롤 디자인 삽입 시작 */
.app-form::-webkit-scrollbar {
    width: 12px;
}

.app-form::-webkit-scrollbar-thumb {
    background: #2da2c5;
    border-radius: 6px;
}

.app-form::-webkit-scrollbar-track {
    border-radius: 6px;
}

/* 스크롤 디자인 삽입 끝 */


.my-app-text-a {
    width: 170px;
    font-size: 2rem;
    color: #144272;
    cursor: pointer;
}

.my-app-text-b {
    width: 130px;
    font-size: 2rem;
    color: #144272;
    cursor: pointer;
}

.done-trip-list {
    border: 1px solid rgba(0, 0, 0, 0.103);
    border-radius: 10px;
    background-color: snow;
    box-shadow: 0 0 10px rgba(26, 162, 204, 0.15);
    width: 19vw;
    height: 195px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.done-trip-list-content {
    border: 1px solid aliceblue;
    background-color: red;
    border-radius: 15px;
    margin: 27px 4px 0;
    height: 47%;
}

.write-review-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 283px;
    height: 30px;
    background-color: black;
    border: 1px solid black;
    border-radius: 100px;
    margin: 30px 4px 0;
    color: white;
    cursor: pointer;
}

.application-none-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    width: 85vw;
    height: 100%;
    font-size: 25px;
    cursor: default;
}

.application-none-btn{
    margin-top: 20px;
    background-color: black;
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
}
