/* 헤더 높이 설정 */
.App-header {
    height: 50px;
    margin-top: 15px;
  }
  
  body {
    height: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  header {
    display: block;
  }
  
  .App-header {
    box-sizing: border-box;
    background: white;
    position: fixed;
    z-index: 999999;
    width: 100%;
    top: 0;
    padding: 0vw 3.90625vw;
    display: flex;
    align-items: center;
  }
  
  .header-container {
    position: relative;
    display: flex;
    height: 100%;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
  }
  
  .icon-container {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
    width: 50%;
  }
  
  .icon-container a {
    padding: 5px;
    line-height: 1.44444;
  }