@media screen and (width <= 767px) {
  .dnd-group {
    width: 340px;
  }

  .drag-n-drop {
    justify-content: center;
  }
}

@media screen and (width >= 768px) {
  .dnd-group {
    width: 315px;
  }
}

.kanban-board {
  background-color: aliceblue;
  min-height: 77vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.kanban-container {
  display: flex;
  flex-direction: column;
  width: 98%;
  height: 100%;
}

.kanban-add-box{
  display: flex;
  font-size: 2rem;
  align-items: center;
  margin-left: 10px;
}

.kanban-add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 2rem; */
  width: 90px;
  height: 30px;
  background-color: #89B0CD;
  border: 1px solid #89B0CD;
  border-radius: 10px;
  margin: 5px;
}

.kanban-reset-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 2rem; */
  width: 100px;
  height: 30px;
  background-color: #89B0CD;
  border: 1px solid #89B0CD;
  border-radius: 10px;
  margin: 5px;
}

.kanban-add-date{
  margin-left: 25px;
  margin-right: 25px;
  color: #49505e;
}

.drag-n-drop {
  padding: .5rem;
  display: flex;
  flex-wrap: wrap;
  width: 99.5%;
  height: 100%;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 1.5rem;
  align-items: start;
  margin-left: 10px;
}

.dnd-group {
  background-color: #89B0CD;
  border-radius: 5px;
  padding: .5rem;
}

.dnd-item {
  position: relative;
  min-height: 40px;
  background-color: white;
  color: #282c34;
  border-radius: 5px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: bold;
  font-size: 1.6rem;
}

.dnd-item-icon {
  flex-basis: 5%;
  margin: 3px;
}

.dnd-item-text {
  flex-basis: 80%;
}

.remove-dnd-item {
  flex-basis: 10%;
}

.dnd-item:not(:last-of-type) {
  margin-bottom: .5rem;
}

.group-title {
  text-align: left;
  font-size: 1.5rem;
}

.current {
  background-color: #282c34;
}

.group-title-box {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.kanban-add-input {
  width: 190px;
  height: 25px;
  margin: 10px;
}

.add-dnd-item{
  margin-left: -5px;
}

.dndHover:hover {
  color: #282c34;
}

.remove-dnd-item:hover {
  color: #89B0CD;
}