  .local-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 80%;
    z-index: 99999999;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
  }

  .close-local-detail-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: gray;
  }

  .close-local-detail-btn:hover {
    color: black;
  }

  .local-detail-form {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    border-radius: 10px;
    /* margin: 10px 10px 10px 0; */
    height: 93%;
    width: 90%;
  }

  /* 스크롤 디자인 삽입 시작 */
  .local-detail-form::-webkit-scrollbar {
    width: 12px;
  }

  .local-detail-form::-webkit-scrollbar-thumb {
    background: #49505e;
    border-radius: 6px;
  }

  .local-detail-form::-webkit-scrollbar-track {
    border-radius: 6px;
  }

  /* 스크롤 디자인 삽입 끝 */



  .local-detail-img {
    margin-top: 180px;
    margin-left: 10px;
    margin-right: 10px;
    height: 680px;
    width: 5000px;

  }

  .local-detail-info-title {
    font-size: 3rem;
    margin-top: 5px;
    margin-bottom: -10px;
  }

  .local-detail-info-adrr {
    font-size: 1.7rem;
  }

  .explain-title {
    font-size: 2rem;
  }

  .local-detail-info-content {
    background-color: aliceblue;
    border-radius: 10px;
    height: 376px;
    overflow-y: scroll;
  }

  .explain-text {
    font-size: 2rem;
    margin-bottom: 0;
  }