@media screen and (width <=767px) {

    .main-container {
        flex-direction: column-reverse;
    }

    .main-contant-box {
        min-width: 400px;
        max-height: 200px;
        margin-top: 30px;
    }

    .main-img-box {
        min-width: 400px;
        max-height: 400px;
        margin-top: 50px;
    }
}

@media screen and (width >=768px) {

    .main-contant-box {
        max-width: 400px;
        position: relative;
    }

    .main-img-box {
        max-width: 40vmax;
        max-height: 60vmax;
    }

    .main-title,
    .main-text,
    .main_btn {
        position: absolute;
    }

    .main-title {
        bottom: 37%;
    }

    .main-text {
        bottom: 25%;
    }

    .main_btn {
        bottom: 8%;
    }
}

.main-container {
    width: 100%;
    height: calc(100vh - 70px);
    margin-top: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-img-box {
    width: 50vw;
    height: 80vh;

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-img {
    position: relative;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    animation: sidein 1s ease-in-out;
}

@keyframes sidein {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.main-contant-box {
    width: 60vw;
    height: 40vh;
    position: relative;
    animation: fadein 1s ease-in-out;
}

@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.main_btn {
    text-decoration: none;
    text-align: center;
    width: 13vw;
    height: 3vh;
    font-size: 1.6rem;
    padding: 7px;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
}

/* 메인 페이지 폰트 사이즈 */
.main-title {
    font-size: 4.7rem;
}

.main-contant-box p {
    font-size: 2rem;
}
