@media screen and (width <=767px) {

    .main-container {
        flex-direction: column-reverse;
    }

    .main-contant-box {
        min-width: 400px;
        max-height: 200px;
        margin-top: 30px;
    }

    .main-img-box {
        min-width: 400px;
        max-height: 400px;
        margin-top: 50px;
    }
}

@media screen and (width >=768px) {

    .main-contant-box {
        max-width: 400px;
        position: relative;
    }

    .main-img-box {
        max-width: 40vmax;
        max-height: 60vmax;
    }

    .main-title,
    .main-text,
    .main_btn {
        position: absolute;
    }

    .main-title {
        bottom: 50%;
    }

    .main-text {
        bottom: 40%
    }

    .main_btn {
        bottom: 15%;
    }
}

.main-container {
    width: 100%;
    height: calc(100vh - 70px);
    margin-top: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-img-box {
    width: 50vw;
    height: 80vh;

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-img {
    position: relative;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    animation: sidein 1s ease-in-out;
}

@keyframes sidein {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.main-contant-box {
    width: 60vw;
    height: 40vh;
    position: relative;
    animation: fadein 1s ease-in-out;
}

@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

/* 메인 페이지 폰트 사이즈 */
.main-title {
    font-size: 4.7rem;
    cursor: default;
}

.main-contant-box p {
    font-size: 2rem;
    cursor: default;
}


/* 메인 버튼 디자인 */
.main_btn {
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    /* color: white; */
}

.main_btn:after {
    content: "";
    background-color: #ffe54c;
    /* background-color: #3DD1E7; */
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.35s;
    cursor: pointer;
}

.main_btn:hover {
    /* color: black; */
    border: none;
}

.main_btn:hover:after {
    width: 30%;
    top: 0px;
    left: 35%;
    border-radius: 100%;
}

@media (min-width: 768px) {
    .main_btn {
        padding: 13px 50px 13px;
    }
}
/* 메인 버튼 디자인 끝 */