@media screen and (width <=767px) {
  .map-info-box {
    display: none;
    width: 17vw;
  }
}

@media screen and (width >=767px) {
  .map-info-box {
    width: 20.4vw;
  }
}

.map-container {
  width: 90vw;
  height: 90vh;
  z-index: 99999999;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  border-radius: 10px;
}

.map-p-container {
  width: 90vw;
  height: 90vh;
  z-index: 99999999;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  border-radius: 10px;
}

.close-map-btn {
  position: absolute;
  right: 7px;
  top: 7px;
  color: gray;
}

.close-map-btn:hover {
  color: black;
}

.go-to-center {
  position: absolute;
  right: 10px;
  bottom: 10px
}

.map-box {
  display: flex;
  height: 100%;
  width: 100%;
  /* 색깔 손대지 마시오 */
  border: 1px solid gray;
  border-radius: 10px;
}

.map-info-box {
  display: flexbox;
  flex-direction: column;
  justify-content: left;
  border-radius: 10px;
  margin: 10px;
  height: 97%;
}

.map-select-area {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 45px;
}

.map-select-location {
  margin-left: 10px;
  font-size: 1.5rem;
}

.map-select-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 30px;
  margin-left: 5px;
  font-size: 1.5rem;
  background-color: aliceblue;
  border: 1px solid aliceblue;
  color: black;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.map-all-btn{
  margin-left: 12px;
  font-size: 1.4rem;
  width: 75px;
  height: 20px;
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.map-all-btn:hover {
  background-color: black;
  color: aliceblue;
}



.get-local-btn {
  margin-left: 30px;
  color: gray;
}

.get-local-btn:hover {
  color: black;
}

.map-palce-select-area {
  height: 92%;
  overflow-y: scroll;
}

.map-palce-select-area::-webkit-scrollbar {
  width: 12px;
}

.map-palce-select-area::-webkit-scrollbar-thumb {
  background: #2da2c5;
  border-radius: 6px;
}

.map-palce-select-area::-webkit-scrollbar-track {
  border-radius: 6px;
}


.map-place-info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  background-color: aliceblue;
  border: 1px solid aliceblue;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 10px;
  width: 17.2vw;
  height: 140px
}

.map-place-title {
  margin: 5px;
}

.map-place{
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6px;
}

.map-place-name {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 1.4rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}

.map-place-name:hover {
  background-color: black;
  color: aliceblue;
}

a, a:link, :visited{
  text-decoration: none;
  color: black;
}

a:active{
  color: skyblue;
}

#map {
  display: flex;
  align-items: center;
  border: 1px solid aliceblue;
  margin: 10px 10px 10px 0;
  height: 97%;
  width: 72.5%;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}

#map-p {
  display: flex;
  align-items: center;
  border: 1px solid aliceblue;
  margin: 10px 10px 10px 0;
  height: 97%;
  width: 72.5%;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}