@media screen and (width <=767px) {
  .map-info-box {
    display: none;
    width: 17vw;
  }
}

@media screen and (width >=767px) {
  .map-info-box {
    width: 20.4vw;
  }
}

.map-container {
  width: 90%;
  height: 90%;
  z-index: 99999999;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
}

.close-map-btn {
  position: absolute;
  right: 10px;
  top: 10px;
}

.map-box {
  display: flex;
  height: 100%;
  width: 100%;
  /* margin-top: 10px; */
  border: 1px solid black;
  /* margin: 10px 3.90625vw 0; */
}

.map-info-box {
  display: flexbox;
  flex-direction: column;
  justify-content: left;
  border: 1px solid black;
  margin: 10px;
  height: 97%;
}

.map-search-area {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 20.4vw;
  height: 35px;
}

.map-search-name{
  width: 100px;
}

.map-search-box {
  margin: 0;
  /* width: 90%; */
  width: 18vw;
  height: 90%;
  border: 1px solid black;
  font-size: 1.35rem;
}

.map-palce-info-area {
  height: 90%;
  overflow-y: scroll;
}

.map-place-info-box {
  margin: 10px;
  border: 1px solid black;
  width: 17.5vw;
  height: 200px
}

.map-form {
  display: flex;
  align-items: center;
  border: 1px solid black;
  margin: 10px 10px 10px 0;
  height: 97%;
  width: 73.5%;
}

.map-place{
  display: flex;
  flex-wrap: wrap;
}

.map-place-name{
  margin-left: 2px;
  margin-right: 8px;
}

a, a:link, :visited{
  text-decoration: none;
  color: black;
}

a:active{
  color: skyblue;
}