/* @font-face {
    font-family: 'WandohopeR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/WandohopeR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

.membership_bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 99999999999;
    background-color: #b1d8eb;
}

.membership_img{
    position: absolute;
    top: 110px;
    width: 220px;
}


.membership_box{
    padding: 15px;
    width: 400px;
    height: 480px;
    position: absolute;
    top :180px; 
    border: 1px solid rgba(179, 185, 221, 0.226);
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(27, 152, 190, 0.2);
}

.membership_input {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.gender {
    width: 40px;
}

.gender_box{
    display: flex;
    align-items: center;
    justify-content: center;

    
}

/* 라벨의 스타일 적용 시작 */
/* [type ='radio'] {
    display: none;
} */

.gender_select{
    position: relative;
    font-size: 19px;
    width: 80px;
    height: 15px;
    display: flex;
    align-items: center;
    margin-left: 16px;
    margin-right: 20px;
    margin-bottom: 15px ;
    justify-content: center;
}
/* input[type='radio']:checked+label{
    color: #ebeeed;
    align-items: center;
} */
/* 라벨 스타일 적용 끝 */

.login-input-text{
    margin: 10px;
    font-size: 15px;
    height: 30px;
    width: 210px;
    border-radius: 10px;
}

.membership_bt{
    margin: 10px;
    height: 40px;
    width:210px;
    border-radius: 10px;
    font-size: 18px;
    color: whitesmoke;
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
}

.guideText{
    line-height: 5px;
    height: 5px;
    font-size: 12px;
    text-align: center;
    
}