@media screen and (width <= 767px) {
    .detail-form {
        width: 80vw;
        display: flexbox;
        flex-direction: column;
    }

    .detail-list {
        width: 70vw;
        height: 200px;
    }

}
@media screen and (width >= 768px) {
    .detail-application{
        width: 90vw;
    }

    .detail-form {
        width: 90vw;
        display: flex;
        flex-wrap: wrap;
    }

    .detail-list {
        width: 19vw;
        height: 200px;
    }
}

.detail-container {
    width: 100%;
    height: calc(100vh - 70px);
    margin-top: 70px;
}

.detail-box {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 10px;
    border: 1px solid rgba(202, 111, 111, 0.151);
    border-radius: 10px;
    margin: 10px 3.90625vw 0;
    position: absolute;
    box-shadow: 0 0 10px rgba(27, 152, 190, 0.2);
    /* background-color: #f0faff; */
    background-color: #f5fafe;
}

.recommend-menu, .detail-application {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.164);
    height: 8vh;
}

.recommend-select, .detail-select{
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.8rem;
    margin-left: 10px;
}

.detail-select {
    margin-left: 20px;
}

.detail-select li {
    list-style: none;
    /* li요소 점(marker) 없애기 */
    width: 72px;
    font-size: 1.5rem;
  }

.detail-form {
    border: 1px solid rgba(21, 54, 236, 0.438);
    border-radius: 10px;
    margin: 10px;
    height: 97vh;
    overflow-y: scroll;

}

/* 스크롤 디자인 삽입 시작 */
.detail-form::-webkit-scrollbar{
    width: 12px;
}

.detail-form::-webkit-scrollbar-thumb{
    background: #2da2c5;
    border-radius: 6px;
}
.detail-form::-webkit-scrollbar-track{
    border-radius: 6px;
}
/* 스크롤 디자인 삽입 끝 */





.detail-list {
    /* font-size: 3rem; */
    margin-top: 15px;
    margin-left: 21px;
    border: 1px solid  rgba(0, 0, 0, 0.103);
    border-radius: 10px;
    background-color: snow;
    box-shadow: 0 0 10px rgba(26, 162, 204, 0.15);
}

.detail-select-location, .detail-select-day{
    width: 200px;
}

/* radio 버튼 css 시작 */
[type = 'radio'] {
    display: none;
}

.my_text{
    position: relative;
    color: #144272;
    font-size: 1.8rem;
    width: 100px;
    height: 40x;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
}

input[type='radio']:checked+label{
    /* background-color: #84add1; */
    color: #25bd2d;
    align-items: center;
}
/* radio 버튼 css 끝 */

.my_box{
    display: flex;
}
