.partydetail-container {
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: 550px;
    /* margin-top: 70px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999999;

    background-color: aliceblue;
    border: 1px solid rgba(0, 0, 0, 0.253);
    border-radius: 10px;
    box-shadow: 0 0 2cqi rgba(41, 41, 41, 0.3);
}

.partydetail-box {
    display: flex;
    height: 100%;
    border: 1px solid rgba(202, 111, 111, 0.151);
    border-radius: 10px;
    margin: 10px 3.90625vw 0;
    box-shadow: 0 0 10px rgba(27, 152, 190, 0.2);
    background-color: aliceblue;
}

.partydetail-contents-box{
    width: 1000px;
}

.partydetail-title{
    
    width: 95%;
    height: 10vh;
    margin-top: 40px;
    margin-left: 40px;
    background-color: rgba(0, 128, 0, 0.637);
    border-radius: 10px;
}


.partydetail-leader{
    
    width: 95%;
    height: 8vh;
    margin-top: 10px;
    margin-left: 40px;
    background-color: rgba(0, 128, 0, 0.637);
    border-radius: 10px;
}

.partydetail-short{
    
    border-radius: 10px;
    width: 95%;
    height: 12vh;
    margin-left: 40px;
    margin-top: 10px;
    background-color: rgba(0, 128, 0, 0.637);
}

.partydetail-detail{
    
    width: 95%;
    height:40%;
    margin-left: 40px;
    margin-top: 10px;
    background-color: rgba(0, 128, 0, 0.637);
    border-radius: 10px;
}

.partydetail-schedule{
    
    border-radius: 10px;
    margin: 40px;
    height: 84%;
    width: 35vw;
    background-color: rgba(67, 101, 163, 0.637);
}

.partydetail-close-btn{
    position: relative;
    top: 13px;
    left:965px;
    /* margin-top: ; */
}

.partydetail-text{
    /* margin-top: 10px; */
    padding-top: 5px;
    padding-left: 10px;
}