@media screen and (width <= 767px) {
    .recommend-form {
        width: 80vw;
        display: flexbox;
        flex-direction: column;
    }

    .recommend-list {
        width: 70vw;
        height: 40vh;
    }

}
@media screen and (width >= 768px) {
    .recommend-application{
        width: 90vw;
    }

    .recommend-form {
        width: 90vw;
        display: flex;
        flex-wrap: wrap;
    }

    .recommend-list {
        width: 20vw;
        height: 40vh;
    }
}

.recommend-container {
    width: 100%;
    height: calc(100vh - 70px);
    margin-top: 70px;
}

.my-nav-list {
    border-bottom: 1px solid black;
    padding: 0 3.90625vw;
}

.recommend-box {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 10px;
    border: 1px solid black;
    margin: 10px 3.90625vw 0;
    position: absolute;
}

.recommend-application {
    border: 1px solid black;
    margin: 10px;
    height: 10vh;
}

.recommend-select{
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.8rem;
    margin-left: 10px;
}

.recommend-form {
    border: 1px solid black;
    margin: 10px;
    height: 97vh;
    overflow-y: scroll;
}

.recommend-list {
    /* font-size: 3rem; */
    margin-top: 15px;
    margin-left: 21px;
    border: 1px solid black;
}

.reommend-select-location, .recommend-select-day{
    width: 200px;
}




.my_box{
    display: flex;
}