.registration-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
}

.registration-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 98%;
    margin-left: 10px;
    border-radius: 10px;
    background-color: aliceblue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.registration-input-box{
    display: flex;
    flex-direction: column;
}

.regi-box-title {
    font-size: 3rem;
    margin: 5px 0;
    cursor: default;
}

.regi-info-box {
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    padding: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: default;
}

.regi-select {
    border-radius: 10px;
    padding: 2px;
    cursor: pointer;
}

.cate-hashtag-box {
    /* border: 1px solid black; */
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 385px;
    max-height: 77px;
}

.regi-title-in {
    background-color: rgb(240, 240, 240);
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.regi-title-in:focus-within {
    outline: none;
    border: 0.1px solid black;
  }

.registration-detail {
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    border: none;
    padding: 10px;
    resize: none;
    max-height: 160px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.registration-detail:focus-within {
    outline: none;
    border: 1px solid black;
  }

.regi-btn-box {
    display: flex;
    flex-direction: row;
}

.registration-button, .regi-clear-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 50px;
    width: 180px;
    height: 30px;
    color: white;
    background-color: black;
    margin: 10px;
    cursor: pointer;
}

.registration-plan-box{
    width: 45%;
    height: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    overflow-y: scroll;
    border-radius: 10px;
    background-color: aliceblue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: default;
}

.registration-plan-box::-webkit-scrollbar {
    width: 12px;
  }
  
.registration-plan-box::-webkit-scrollbar-thumb {
    background: #2da2c5;
    border-radius: 6px;
  }
  
.registration-plan-box::-webkit-scrollbar-track {
    border-radius: 6px;
  }

.registration-plan{
    width: 70%;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 20px 0;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.regi-plan-title {
    border-bottom: 1px solid black;
    margin-bottom: 3px;
}

.regi-plan-list {
    margin: 20px 0 10px;
    display: flex;
}

.regi-plan-list-num-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50px;
    width: 20px;
}

.regi-plan-list-num {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -0.4px;
}

.regi-plan-list-test {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
