.registration-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}

.registration-box{
    width: 80%;
    height: 80%;
    /* border: 1px solid black; */

}


.registration-title{
    width: 80%;
    height: 10vh;
    font-size: 18px;
    border-radius: 10px;
    border: none;

}

.registration-title:focus{
    outline: none;
}

.registration-detail{
    width: 80%;
    height: 31vh;
    font-size: 14px;
    resize: none;
    border-radius: 10px;
    /* border: none; */
}

.registration-detail:focus{
    outline: none;
}

.registration-input-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.registration-button{
    width: 150px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.registration-plan-box{
    display: flex;
    justify-content: center;
    width: 500px;
    /* border: solid 1px black; */
}

.registration-plan{
    border: solid 1px black;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
}