.registration-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}

.registration-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}


.registration-title{

}

/* .registration-title:focus{
    outline: none;
} */

.registration-detail{

}

.registration-detail:focus{

}

.registration-input-box{

}


.registration-button{

}

.registration-plan-box{
    width: 45%;
    height: 98%;
    /* display: grid;
    grid-template-columns: 1fr;
    gap: 5px; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 10px;
    overflow-y: scroll;
    border: 1px solid black;
}

.registration-plan{
    width: 70%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 20px 0;
}

.regi-plan-title {
    border-bottom: 1px solid black;
    margin-bottom: 3px;
}

.regi-plan-list {
    margin: 20px 0 10px;
}