@media screen and (width <=767px) {
  .info-box {
    display: none;
  }

  .schedule-form {
    width: 90vw;
    display: flexbox;
    flex-direction: column;
  }

  .schedule-list {
    width: 75vw;
    height: 40vh;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
  }

  .date-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .date-box {
    justify-content: center;
    margin: 0;
  }

  .date-select {
    display: none;
  }

  .nav-list li {
    margin: 12px 0 10px;
  }

  .example-custom-input {
    margin: 0;
  }
}

@media screen and (width >=768px) {
  .schedule-form {
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
  }

  .schedule-list {
    width: 21vw;
    height: 40vh;
  }

  .nav-list {
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .date-container {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .date-box {
    justify-content: left;
    margin: 0 10px;
  }

  .nav-list li {
    margin: 0 2vw;
  }

  .example-custom-input {
    margin-left: 10px
  }
}

.schedule-container {
  width: 100%;
  height: calc(100vh - 70px);
  margin-top: 70px;
}

.nav-list {
  border-bottom: 1px solid black;
  padding: 0 3.90625vw;
}

.nav-box {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.date-box {
  width: 230px;
  display: flex;
  align-items: center;
}

.date-box p {
  width: 7rem;
  font-size: 1.5rem;
}

.local-select {
  width: 100px;
  font-size: 1.5rem;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 10px;
}

.schedule-box {
  display: flex;
  height: 100vh;
  margin-top: 10px;
  border: 1px solid black;
  margin: 10px 3.90625vw 0;
}

.info-box {
  display: flexbox;
  flex-direction: column;
  justify-content: left;
  border: 1px solid black;
  margin: 10px;
  width: 20.4vw;
  height: 97vh;
}


.search-area {
  display: flex;
  margin: 10px;
  width: 18.8vw;
  height: 35px;
}

.search-box {
  margin: 0;
  /* width: 90%; */
  width: 18vw;
  height: 90%;
  border: 1px solid black;
  font-size: 1.35rem;
}

.place-info-area {
  height: 90%;
  overflow-y: scroll;
}

/* 스크롤 디자인 삽입 시작 */
.place-info-area::-webkit-scrollbar{
  width: 12px;
}

.place-info-area::-webkit-scrollbar-thumb{
  background: #2da2c5;
  border-radius: 6px;
}
.place-info-area::-webkit-scrollbar-track{
  border-radius: 6px;
}
/* 스크롤 디자인 삽입 끝 */


.place-info-box {
  margin: 10px;
  border: 1px solid black;
  width: 17.5vw;
  height: 200px
}

.schedule-form {
  border: 1px solid black;
  margin: 10px;
  height: 97vh;
  overflow-y: scroll;
}

/* 스크롤 디자인 삽입 시작 */
.schedule-form::-webkit-scrollbar{
  width: 12px;
}

.schedule-form::-webkit-scrollbar-thumb{
  background: #2da2c5;
  border-radius: 6px;
}
.schedule-form::-webkit-scrollbar-track{
  border-radius: 6px;
}
/* 스크롤 디자인 삽입 끝 */


.schedule-list {
  font-size: 5rem;
  margin-top: 15px;
  margin-left: 15px;
  border: 1px solid black;
}

/* 달력 관련 커스텀 */
.example-custom-input {
  background-color: #282c34;
  color: white;
  cursor: pointer;
  width: 150px;
}

.date-create{
  height: 30px;
  border-radius: 10px;
  font-size: 15px;
  border-style: none;
  background-color: rgb(197, 196, 195);
}