@media screen and (width <= 767px) {
    .select-container-in-box {
        flex-direction: column;
    }

    .reader-box,
    .crew-box {
        /* height: 250px; */
        height: 37vh;
        transition-duration: 0.3s;
    }
}

@media screen and (width >= 768px) {

    .reader-box,
    .crew-box {
        height: 450px;
        transition-duration: 0.3s;
    }
}

.select-container {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.select-container-in-box {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.reader-box,
.crew-box {
    position: relative;
    /* display: flex; */
    justify-content: center;

    margin: 20px;
    width: 450px;
    /* height: 450px; */
    border: 1px solid black;
    border-radius: 20px;
}

/* 버튼 관련 css */
.reader-btn, .crew-btn {
    left: 35%;
}

.party-img{
    width: 100%;
    height: 100%;
    transform: all 0.2s linear;
}

.party-img:hover img{
    transform: scale(1.4);
}