.side-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.side-id-box {
  width: 98%;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
}

.side-id-text {
  font-size: 2.5rem;
  margin-left: 10px;
}

.temp-box {
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-top: 10px;
}

.temp-icon {
  margin-left: 5px;
}

.logout-text {
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
  /* margin-top: 10px;
  margin-left: 80px; */
  position: absolute;
  top: 25px;
  left: 220px;
}

.side-leader-box, .side-crew-box {
  width: 87%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
}

.side-content-container li {
  color: black;
}

.side-contents-list{
  border-style: none;
  background-color: none;
}