.tag-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tagInput {
  width: 375px;
  height: auto;
  border: none;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(240, 240, 240);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.tagInput:focus-within {
  border: 1px solid black;
}

.typing-tag {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: black;
  display: block;
}

.tag-box {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  border: 1px solid black;
  border-radius: 50px;
  margin: 0 6px 5px;
  width: 56.5px;
  max-height: 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}